/* -----------------------------
   MOBILE FIRST
----------------------------- */
@media (max-width: 480px) {
  .item {
    flex-wrap: wrap;
    **padding: 18px;**
    **gap: 14px;**
  }

  .item span:first-child {
    flex-basis: 100%;
    margin-bottom: **10px;**
    **font-size: 19px;**
  }

  button {
    **width: 64px;**
    **height: 64px;**
    **font-size: 30px;**
  }

  .quantite {
    **min-width: 48px;**
    **font-size: 22px;**
  }
}
